app = "fly-io-rsshub"
swap_size_mb = 512

[build]
image = "diygod/rsshub:latest"

[http_service]
internal_port = 1200
force_https = true
auto_stop_machines = "suspend"
auto_start_machines = true
min_machines_running = 1

[http_service.tls_options]
  alpn = ["h2", "http/1.1"]
  versions = ["TLSv1.2", "TLSv1.3"]
  default_self_signed = false

[[http_service.checks]]
grace_period = "10s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/healthz"
